



<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to 'Library', root_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <%= form_tag books_path, method: 'get', class: 'navbar-form navbar-left' do %>
            <%= text_field_tag :search, params[:search], :type => 'text', :class => 'form-control', :placeholder => 'Search' %>
            <%= submit_tag "Submit", :type => 'submit', :class => 'btn btn-default' %>
        <% end %>
        <% if signed_in? %>
            <li><%= link_to 'Add Book', new_book_path %></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            <% if current_user.role?(:admin) %>
              <li><%= link_to "Books manage", admin_root_path  %></li>
              <li><%= link_to "Authors manage", admin_authors_path %></li>
              <li><%= link_to "Categories manage", admin_categories_path %></li>
                <li><%= link_to "Users manage", admin_users_path %></li>
            <% end %>
        <% else %>
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
            <li id="login"><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
      </ul><!-- /.login toolbar -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>